<%= simple_nested_form_for @student, defaults: { input_html: { class: 'input-medium' } }, :html => { :class => 'form-vertical' } do |student_form| %>
  <div class="row-fluid">
		<div class="span1"></div>
		<div class="span10">
			<div class="row-fluid rounded-box">
				<legend><%= controller.action_name.capitalize %> Student</legend>
				<br />
				<fieldset>
				<div class="span5">
		        <%= render :partial => "student_fields", :locals => { :f => student_form } %>
				</div>
				<div class="span5">
						<%= student_form.simple_fields_for :user do |user_form| %>
		          <%= render :partial => "user_fields", :locals => { :f => user_form } %>
		        <% end %>
				</div>
				</fieldset>
				<div class="form-actions">
			    <%= student_form.submit nil, :class => 'btn btn-primary' %>
			    <%= link_to 'Cancel', students_path, :class => 'btn' %>
			  </div>
			</div>
    </div>
		<div class="span1"></div>
	</div>
<% end %>



<!--

<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Student</legend>
		
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :date_of_birth, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 4, :end_year => Date.today.year - 75, :order => [:month, :day, :year], :include_blank => true %>
		<%= f.input :phone %>
		<%= f.input :rank, :collection => Student::RANKS %>
		<%= f.input :waiver_signed %>
		<%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', students_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

-->