<span id="login-bar">
	<form class="form-inline">
	  <input type="text" class="input-small" placeholder="Email">
	  <input type="password" class="input-small" placeholder="Password">
	  <button type="submit" class="btn">Sign in</button>
	</form>
</span>

<!--
<%= form_tag sessions_path, :class => 'form-inline fright' do %>

	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email] %>
	
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	
	<%= submit_tag "Log In" %>
	
<% end %>
-->