<div class="row">
	<div class="span2"></div>
	<div class="span8">
		<legend>Tournaments</legend>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Name</th>
					<th>Date</th>
					<th>Rank(s)</th>
					<th class="centered">Active</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @tournaments.each do |t| %>
					<tr>
						<td><%= link_to t.name, tournament_path(t) %></td>
						<td><%= t.date.strftime("%m/%d/%y") %></td>
						<td><%= t.max_rank.nil? ? "#{rank_name(t.min_rank)} and up" : "#{rank_name(t.min_rank)} - #{rank_name(t.max_rank)}" %></td>
						<td class="centered"><%= t.active ? raw("<span class='label label-success'>Yes&nbsp;&#x2713;</span>") : raw("<span class='label label-important'>No&nbsp;&#x2717;</span>") %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="digg_pagination">
	    <div clas="page_info">
	      <%= page_entries_info @tournaments %>
	    </div>
	    <%= will_paginate @tournaments, :container => true, :previous_label => "Previous", :next_label => "Next", :inner_window => 2 %>
	  </div>
		<br><br>
		<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New Tournament"), new_tournament_path, :class => 'btn btn-primary', :id => 'Create Tournament' %>
	</div>
	<div class="span2"></div>
</div>
