<p>
	<h4>
	  Name: <%= @dojo.name %>
	</h4>
</p>

<p>
  <b>Street:</b> <%= @dojo.street %>
</p>

<p>
  <b>City:</b> <%= @dojo.city %>
</p>

<p>
  <b>State:</b> <%= @dojo.state %>
</p>

<p>
	<b># of Students:</b> <%= @dojo.current_students.size %>
</p>

<p>
  <b>Active:</b> <%= @dojo.active ? raw("<span class='label label-success'>Yes&nbsp;&#x2713;</span>") : raw("<span class='label label-important'>No&nbsp;&#x2717;</span>") %>
</p>