<p>
	<h4><%= @dojo.name %></h4>
</p>
<br>
<p>
  <b>Address:</b><br>
	<%= @dojo.street %><br>
	<%= @dojo.city %>, <%= @dojo.state %> <%= @dojo.zip %>
</p>
<p>
	<b># of Members:</b> <%= @dojo.current_students.size %>
</p>
<p>
  <b>Active:</b> <%= @dojo.active ? raw("<span class='label label-success'>Yes&nbsp;&#x2713;</span>") : raw("<span class='label label-important'>No&nbsp;&#x2717;</span>") %>
</p>