<!DOCTYPE html>
<html>
<head>
  <title>A &amp; M Karate Tournament System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
		
		<!-- TITLE BAR -->
		<div class="masthead topbar navbar navbar-static-top" >
			<span class="logo"><%= link_to image_tag("dojo_2.png", :size => "85x85"), home_path %></span>
			<h1>A &amp; M Karate Tournament System</h1>

			<!-- INLINE LOGIN OR LOGOUT LINK (TOP RIGHT CORNER) -->
			<span id="login-bar">
				<% if logged_in? %>
					<%= link_to raw("Logout &#8250;&#8250;"), logout_path, :class => 'logout' %>
				<% elsif !is_login_page? %>
					<%= render :partial => 'partials/login_bar' %>
				<% end %>
			</span>
		</div>
			
		<!-- MAIN CONTENT -->
    <div class="container cont-border">

			<!-- NAV BAR -->
			<%= render 'partials/navigation' %>
			
  		<!-- flash messages -->
  		<% flash.each do |name, msg| %>
  			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
  				<a class="close" data-dismiss="alert">&times;</a>
  				<%= msg %>
  			</div>
      <% end %>

  		<div class="row">
  			<!-- main content placed here -->
  			<div class="span12">
  	
					<div id="main_content">
  			   <%= yield %>
  			  </div>
  			</div>
  		</div>
  	</div>
  	<!-- FOOTER -->
		<%= render :partial => "partials/footer" %>
	</div>
	
</body>
</html>
